@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

.caixa{
  background-image: linear-gradient(0deg, #5a98fc 0%, #c2e9fb 100%);
}

.agua{
  z-index: 0;
  height: 100px;
}