@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Quattrocento&display=swap');

.photo{
  margin: 0 auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 5px 4px 15px 3px #000000ab;
}
.photo img{
  width:100%;
}

.glass{
  width: 400px;
  height: 400px;
  background-image: linear-gradient(0deg, #b6b6b6 0%, #ffffff 100%);
}

.text{ 
    font-family: 'Quattrocento', serif;
    margin-top: 57px;
    color:black;
    font-size: large;
}