.workHard{
  color: black;
  padding: 2px 0 2px 0;
  font-family: Girassol, 'Times New Roman', Times, serif;
}

.works{
  color: white;
}

.table-ocean{
  background-color: #003b98;
  border: solid 1px white;
  color: white;
  box-shadow: 5px 6px 20px 5px black;
}

table a:visited {
   color: #0390d1;
}

/* link que foi visitado */
table a:link {
    color: black;
}

/* mouse over */
table a:hover {
    color: #000000;
}

/* link selecionado */
a:active {
    color: blue;
}