.frame {
    position: absolute;
    top: -39px;
    left: 0;
    width: 100%;
    height: 138px;
    overflow: hidden;
    background: #0390d1;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    transform: rotate(180deg);
	-moz-osx-font-smoothing: grayscale;
}

.box {
  position: absolute;
  bottom: 150px;
  transform: rotate(80deg); 
  left: 85%;
}

.wave {
  position: absolute;
  width: 1200px;
  height: 1250px;
  border-radius: 38%;
  
}


@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}



.wave.-one {
  animation: rotate 7000ms infinite linear;
  opacity: .2;
  width: 1500px;
  height: 1650px;
  background: white;
}

.wave.-two {
  animation: rotate 7200ms infinite linear;
  opacity: .5;
  width: 1200px;
  height: 1150px;
 background: white;
}

.wave.-three {
  animation: rotate 7500ms infinite linear;
  width: 1700px;
  height: 1450px;
 background: white;
}
.wave.-four {
  animation: rotate 7000ms infinite linear;
  width: 1700px;
  height: 1450px;
 background: white;
}
.wave.-five {
  animation: rotate 7800ms infinite linear;
  width: 1700px;
  height: 1450px;
 background: white;
}
.wave.-six {
  animation: rotate 7000ms infinite linear;
  background: white;
  top: 315px;
  left: -18px;
}
.wave.-seven {
  animation: rotate 7400ms infinite linear;
  background: white;
  top: 426px;
  left: -45px;
}
.wave.-eigth {
  animation: rotate 5250ms infinite linear;
  background: white;
  opacity: .4;
  top: 426px;
  left: -45px;
}

.wave.-nine {
  animation: rotate 7200ms infinite linear;
  background: white;
  left: 57px;
  top: -386px;
  opacity: .4;
}
.wave.-ten {
  animation: rotate 7000ms infinite linear;
  background: white;
  left: 57px;
  top: -386px;
  opacity: .4;
}

.wave.-eleven {
  animation: rotate 7500ms infinite linear;
  left: 57px;
  background: white;
  top: -386px;
 
}
.wave.-twelve {
  animation: rotate 7000ms infinite linear;
  left: 57px;
  background: white;
  top: -386px;
  opacity: .2;
 
}




