@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Quattrocento&display=swap');

*{
  padding: 0;
  margin: 0;
}

.changeBackground{
  background-color: #2b2b2b;
}

.container{
  padding: 40px;
  font-family: 'Quattrocento', serif;
  background-color: rgb(255 200 0);
  margin-top: 50px;
  box-shadow: 10px 14px 0px 0px #ff700b;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.row{
  margin-right: 0px;
   margin-left: 0px;
}

.iconWhats{
  font-size: 4.2rem;
  color:#00b300;
  position: fixed;
  z-index: 1000;
  left: 1rem;
  top: 80%;
}

@media only screen and (max-width: 1024px){
  .title h1{
    font-size: large;
  }
  p, a{
    font-size: large;
  }
  h3{
    font-size: x-large;
  }
  .container{
    box-shadow: 19px 14px 0px 0px #ff700b;
  }
}